.main {
    position: relative;
    .storeGame {
        height: auto;
        .topTitleDiv {
            text-align: center;
        }
        .topTitle {
            font-size: 20px;
            color: rgb(246, 147, 53);
        }
        .title {
            padding-bottom: 50px;
        }
        .gameList {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            vertical-align: middle;
            article {
                display: inline-block;
            }
        }
        .gameDiv {
            position: relative;
            margin-left: 10px;
            margin-bottom: 15px;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0 3px 4px -4px rgb(188, 188, 188);
            width: 360px;
            @media (max-width: 1024px) {
                width: 48%;
            }
            @media (max-width: 678px) {
                width: 95%;
            }
            .gameImgArea {
                position: relative;
            }
            img {
                max-width: 100%;
                height: auto;
            }
            .imgFixing {
                width: 60%;
                // @media (max-width: 678px) {
                //     width: 55%;
                // }
                height: auto;
                position: absolute;
                top: 20%;
                left: 20%;
                z-index: 999;
            }
            .gameName {
                // line-height: 70px; // padding: 10px 0;
                margin-top: 30px;
                height: 70px;
                // font-size: 24px;
            }
            .serviceBtn {
                padding: 20px 0;
                .btn {
                    display: inline-block;
                    width: 40%;
                    height: 38px;
                    border-radius: 50px;
                    border: 1px black solid;
                    margin: 0 10px;
                }
                .web {
                    color: white;
                    border: 1px #bac1b8 solid;
                    background-color: #bac1b8;
                    box-shadow: 0px 0px 15px 0px #bac1b8;
                    &:hover {
                        background-color: lightgray;
                        box-shadow: 0px 0px 15px 0px lightgray;
                        border: 1px lightgray solid;
                    }
                }
                .store {
                    color: white;
                    border: 1px #f69335 solid;
                    background-color: #f69335;
                    box-shadow: 0px 0px 15px 0px #f69335;
                    &:hover {
                        background-color: #ffa24a;
                        box-shadow: 0px 0px 15px 0px #ffa24a;
                        border: 1px #ffa24a solid;
                    }
                }
            }
        }
        .moreGame {
            text-align: center;
            margin: 50px auto;
            .btn {
                width: 118px;
                height: 38px;
                color: white;
                border-radius: 50px;
                border: 1px #f69335 solid;
                background-color: #f69335;
                box-shadow: 0px 0px 15px 0px #f69335;
                &:hover {
                    background-color: #ffa24a;
                    box-shadow: 0px 0px 15px 0px #ffa24a;
                    border: 1px #ffa24a solid;
                }
            }
        }
    }
}