.main {
    .storeGame {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        .title {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .gameList {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            article {
                display: inline-block;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        .gameDiv {
            width: 287px;
            height: 397px;
            // border: 1px solid black;
            margin-left: auto;
            margin-right: auto;
            border-radius: 10px;
            box-shadow: rgb(188, 188, 188) 0px 0px 10px;
            margin-bottom: 50px;
            padding: 15px;
            .gameImg {
                position: relative;
                top: calc((100% - 70px) / 2);
            }
            .gameImgArea {
                margin: 0 auto;
                position: relative;
                border-radius: 10px;
                background-color: #F2F2F2;
                height: 260px;
                // line-height: 260px;
                .onFix {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                }
            }
            .gameName {
                padding-top: 10px;
                height: 70px;
            }
            .serviceBtn {
                .btn {
                    display: inline-block;
                    width: 48%;
                    height: 38px;
                    border-radius: 50px;
                    border: 1px black solid;
                }
                .web {
                    background-color: #fff;
                    color: #333333;
                    &:hover {
                        color: white;
                        background-color: #C9C9C9;
                    }
                }
                .store {
                    color: white;
                    background-color: #A1A1A1;
                    border: none;
                    &:hover {
                        background-color: #BCBCBC;
                    }
                    &:active {
                        background-color: #515151;
                    }
                }
            }
        }
        .moreGame {
            margin-bottom: 50px;
            .btn {
                width: 118px;
                height: 38px;
                border-radius: 50px;
                border: 1px black solid;
                &:hover {
                    color: white;
                    background-color: #C9C9C9;
                }
            }
        }
    }
}