.banner {
  height: 300px;
  background-color: #F2F2F2;
}

.accountArea {
  position: relative;
  margin-bottom: 40px;
}
.accountArea input {
  width: 300px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
}
.accountArea .placeholder {
  font-size: 14px;
  position: absolute;
  top: -10px;
  margin-left: 8px;
  color: #65666D;
  background-color: white;
}
.accountArea .prompt {
  width: 300px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  color: #E64E4D;
  font-size: 14px;
}
.accountArea .prompt img {
  width: 19px;
  height: 19px;
  margin: 0;
  vertical-align: middle;
}
.accountArea .VeriftyBtn {
  position: absolute;
  top: 5px;
  right: 26%;
  cursor: pointer;
  width: 118px;
  height: 38px;
  color: white;
  background-color: #A1A1A1;
  border-radius: 50px;
  border: 1px solid #BCBCBC;
  box-shadow: none;
  font-size: 16px;
}
.accountArea .VeriftyBtn:hover {
  background-color: #BCBCBC;
}

.loginArea {
  text-align: center;
  background-color: white;
}
.loginArea h2 {
  padding: 50px 0;
}
.loginArea .forgetPwd {
  cursor: pointer;
  color: #65666D;
  text-decoration: underline;
}
.loginArea .loginBtn {
  cursor: pointer;
  width: 300px;
  height: 38px;
  color: white;
  background-color: #A1A1A1;
  border-radius: 50px;
  box-shadow: none;
  border: 0;
  margin: 20px 0;
}
.loginArea .loginBtn:hover {
  background-color: #BCBCBC;
}
.loginArea .line {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  height: 0.5px;
  width: 302px;
  background-color: black;
  position: relative;
}
.loginArea .line .placeholder {
  font-size: 20px;
  position: absolute;
  top: -15px;
  margin-left: -40px;
  background-color: white;
}
.loginArea img {
  margin: 0 20px;
}
.loginArea .fbLogin {
  height: 50px;
  width: 50px;
}
.loginArea .googleLogin {
  height: 50px;
  width: 50px;
}
.loginArea .registerArea {
  margin-top: 50px;
  padding-bottom: 50px;
}
.loginArea .registerArea a {
  cursor: pointer;
  color: #65666D;
  text-decoration: underline;
}

.line {
  height: 3px;
  width: 500px;
  background-color: #797979;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.line .stepCircle {
  border: 3px solid #797979;
  height: 57px;
  width: 57px;
  line-height: 57px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -30px;
  background-color: white;
  font-size: 24px;
  color: #666666;
}
.line .stepText {
  position: absolute;
  top: 40px;
  font-size: 16px;
  color: #666666;
}
.line .one {
  left: 0;
}
.line .two {
  left: 23%;
}
.line .three {
  left: 45%;
}
.line .four {
  left: 67%;
}
.line .five {
  right: 0;
}
.line .nowStep {
  background-color: #666666;
  color: white !important;
}
.line .textOne {
  left: -3%;
}
.line .textTwo {
  left: 20%;
}
.line .textThree {
  left: 42.5%;
}
.line .textFour {
  left: 66.5%;
}
.line .textFive {
  right: 0%;
}

.MemberArea {
  padding: 100px 0;
  text-align: center;
  background-color: white;
}
@media screen and (max-width: 500px) {
  .MemberArea {
    padding-top: 50px;
  }
}
.MemberArea h1 {
  margin: 50px 0;
}
.MemberArea .termCircle {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
@media screen and (max-width: 500px) {
  .MemberArea .termCircle {
    display: none;
  }
}
.MemberArea .termsImgArea {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 70%;
  height: 655px;
  overflow-y: scroll;
}
@media screen and (max-width: 968px) {
  .MemberArea .termsImgArea {
    width: 98%;
  }
}
.MemberArea .termsImgArea img {
  width: 100%;
  height: 7517px;
}
.MemberArea .nextStepBtn {
  cursor: pointer;
  width: 300px;
  height: 38px;
  color: gray;
  background-color: lightgray;
  border-radius: 50px;
  border: 1px solid #BCBCBC;
  margin: 50px 0;
}
.MemberArea .nextStepBtn:hover {
  background-color: #BCBCBC;
}
.MemberArea .enable {
  background-color: #A1A1A1;
  color: white;
}
.MemberArea .haveAcArea {
  padding-bottom: 50px;
}
.MemberArea .haveAcArea a {
  cursor: pointer;
  color: #65666D;
  text-decoration: underline;
}

.userData div {
  margin-bottom: 15px;
}
.userData .prompt {
  width: 308px;
}

.veriftyPointArea {
  width: 40%;
  margin: 0 auto;
  text-align: left;
}

.successArea {
  padding: 50px 0;
  text-align: center;
  background-color: white;
  font-size: 16px;
  color: #65666D !important;
}
.successArea .iconCircle {
  border: 1px solid #BCBCBC;
  margin: 50px auto;
  width: 126px;
  height: 126px;
  border-radius: 50%;
  line-height: 126px;
}
.successArea .iconCircle img {
  width: 126px;
  height: 126px;
  border-radius: 50%;
}
.successArea .text {
  line-height: 25px;
}
.successArea .text a {
  color: #65666D !important;
}
.successArea .back {
  cursor: pointer;
  margin: 50px 0;
  width: 300px;
  height: 38px;
  border: 1px solid #868686;
  border-radius: 50px;
  background-color: white;
  color: #5E5E5E;
  font-size: 16px;
}
.successArea .back:hover {
  background-color: #C9C9C9;
  color: white;
}

.sendBtn {
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 100px;
  width: 300px;
  height: 38px;
  border: 1px solid #BCBCBC;
  border-radius: 50px;
  background-color: #A1A1A1;
  color: white;
  font-size: 16px;
}
.sendBtn:hover {
  background-color: #C9C9C9;
  border: 1px solid #C9C9C9;
}

/*# sourceMappingURL=member.css.map */
