.banner {
    height: 300px;
    background-color: #F2F2F2;
}

.loginArea {
    text-align: center;
    background-color: white;
    h2 {
        padding: 50px 0;
    }
    .accountArea {
        position: relative;
        margin-bottom: 40px;
        input {
            width: 300px;
            height: 44px;
            margin-left: auto;
            margin-right: auto;
        }
        .placeholder {
            font-size: 14px;
            position: absolute;
            top: -10px;
            margin-left: 8px;
            background-color: rgba(255, 255, 255, 1);
        }
        .prompt {
            width: 300px;
            text-align: left;
            margin-left: auto;
            margin-right: auto;
            color: #E64E4D;
            font-size: 14px;
            img {
                width: 19px;
                height: 19px;
                margin: 0;
            }
        }
    }
    .forgetPwd {
        cursor: pointer;
        color: #65666D;
        text-decoration: underline;
    }
    .loginBtn {
        cursor: pointer;
        width: 300px;
        height: 38px;
        color: white;
        background-color: #A1A1A1;
        border-radius: 50px;
        box-shadow: none;
        border: 0;
        margin: 20px 0;
        &:hover {
            background-color: #BCBCBC;
        }
    }
    .line {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 50px;
        height: 0.5px;
        width: 302px;
        background-color: black;
        position: relative;
        .placeholder {
            font-size: 20px;
            position: absolute;
            top: -15px;
            margin-left: -40px;
            background-color: rgba(255, 255, 255, 1);
        }
    }
    img {
        margin: 0 20px;
    }
    .fbLogin {
        height: 50px;
        width: 50px;
    }
    .googleLogin {
        height: 50px;
        width: 50px;
    }
    .registerArea {
        margin-top: 50px;
        padding-bottom: 50px;
        a {
            cursor: pointer;
            color: #65666D;
            text-decoration: underline;
        }
    }
}

.termsArea {
    padding-top: 100px;
    text-align: center;
    background-color: white;
    @media screen and (max-width: 500px) {
        padding-top: 50px;
    }
    h1 {
        margin: 50px 0;
    }
    .termCircle {
        @media screen and (max-width: 500px) {
            display: none;
        }
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
        .line {
            height: 3px;
            width: 500px;
            background-color: #797979;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            .stepCircle {
                border: 3px solid #797979;
                height: 57px;
                width: 57px;
                line-height: 57px;
                border-radius: 50%;
                display: inline-block;
                position: absolute;
                top: -30px;
                background-color: rgba(255, 255, 255, 1);
                font-size: 24px;
                color: #666666;
            }
            .stepText {
                position: absolute;
                top: 40px;
                font-size: 16px;
                color: #666666;
            }
            .one {
                left: 0;
            }
            .two {
                left: 23%;
            }
            .three {
                left: 45%;
            }
            .four {
                left: 67%;
            }
            .five {
                right: 0;
            }
            .nowStep {
                background-color: #666666;
                color: white !important;
            }
            .textOne {
                left: -3%;
            }
            .textTwo {
                left: 20%;
            }
            .textThree {
                left: 42.5%;
            }
            .textFour {
                left: 66.5%;
            }
            .textFive {
                right: 0%;
            }
        }
    }
    .termsImgArea {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        width: 70%;
        height: 655px;
        overflow-y: scroll;
        @media screen and (max-width: 968px) {
            width: 98%;
        }
        img {
            width: 100%;
            height: 7517px;
        }
    }
    .nextStepBtn {
        cursor: pointer;
        width: 300px;
        height: 38px;
        color: gray;
        background-color: lightgray;
        border-radius: 50px;
        border: 1px solid gray;
        box-shadow: none;
        margin: 50px 0;
        &:hover {
            background-color: #BCBCBC;
        }
    }
    .haveAcArea {
        padding-bottom: 50px;
        a {
            cursor: pointer;
            color: #65666D;
            text-decoration: underline;
        }
    }
}