@function toRem($px) {
  @return ($px / basic-font-size) * 1rem;
}

.headbg {
  background-color: #fff;
  font-size: 16px;
  /* bottom陰影 */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
  margin: 0 auto;
  position: relative;
}
.row {
  margin: 0;
}
.head {
  width: 100%;
  height: 70px;
  line-height: 70px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  @media (max-width: 767px) {
    text-align: center;
  }
  div {
    display: inline;
  }
  #menu {
    position: absolute;
    top: 30%;
    left: 5%;
    @media (max-width: 767px) {
      display: inline !important;
    }
  }
  .logoDiv {
    @media (max-width: 767px) {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
    #logoIcon {
      width: 150px;
      vertical-align: middle;
      cursor: pointer;
    }
  }
  .userDiv {
    img,
    span {
      margin: 0 3px;
    }
    position: absolute;
    right: 0%;
    vertical-align: middle;
    text-align: center;
    #userIcon {
      width: 30px;
      height: 30px;
      vertical-align: middle;
    }
  }
  .member {
    cursor: pointer;
  }
  .useService {
    width: 100px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
  }

  .mobileHide {
    @media (max-width: 767px) {
      display: none;
    }
  }

  .activeBg {
    color: white;
    background-image: url("/assets/images/active_bg.png");
    background-size: 100% 100%;
  }
}
