@function toRem($px) {
    @return ($px / basic-font-size) * 1rem;
}

.head {
    height: 70px;
    width: 100%;
    background-color: #fff;
    font-size: 16px;
    /* bottom陰影 */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    .wrap {
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
    }
    .wrap img {
        width: 50%;
        vertical-align: middle;
    }
    .txt {
        width: 50%;
        vertical-align: middle;
        padding-left: 280px;
    }
    .txt span {
        margin: 0px 5px;
    }
    .useService {
        color: #999A9F;
        font-weight: bold;
    }
    #logoIcon {
        /* position: fixed;
        left: 361px;
        top: 6px; */
        width: 151px;
        height: 58px;
        vertical-align: middle;
    }
    #userIcon {
        width: 25px;
        height: 27px;
        vertical-align: middle;
        margin-top: 3px;
    }
    .userIconCircle {
        height: 35px;
        width: 35px;
        display: inline-block;
        border: 2px solid lightgray;
        border-radius: 50%;
        vertical-align: middle;
    }
}