footer {
  vertical-align: middle;
  text-align: center;
  background-image: url("/assets/images/footer_bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 400px;
  .footer {
    width: 100%;
    display: inline-block;
    padding-top: 150px;
  }
  .footerLogo {
    // margin-top: 10%;
    width: 150px;
  }
  .service {
    font-size: 16px;
    color: white;
  }
  .contact {
    color: rgba(255, 255, 255, 0.502);
    @media only screen and (max-width: 968px) {
      display: block !important;
    }
  }
  .padding {
    margin: 0 23px;
    display: inline;
  }
}

.hr {
  background-color: rgb(239, 239, 239);
  opacity: 0.302;
  height: 1px;
  margin-top: 25px;
}
